body {
    min-width: 800px;
    background: #8EB1C7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #333399, #8EB1C7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #333399, #8EB1C7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    margin:0px;
  }
  
  
  
  
  
  section  {
    margin:0em 10em 10em 10em;
    padding:3em 10em 3em 10em;
  }
  
  h1{
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 150px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    text-align: left;
    padding: 0;
    margin: 0;
  }

  h2{
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 150px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    text-align: left;
    padding: 0;
    margin: 0;
  }

  h3{
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 120px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    text-align: left;
    padding: 0;
    margin: 0;
  }
  
  p {
    color: #111; 
    font-family: 'Calibri', sans-serif; 
    font-size: 25px; 
    line-height: 1.5;
  }
  
  hr {
    background-color: #000;
  }